@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-primary: #38bdf8;
}

@layer base {
  body {
    background-color: var(--color-background);
    @apply text-slate-100 antialiased;
  }
}
